# --- Project Specific Files to Ignore ---
HELP.md
DEVELOPMENT_REVIEW.md
PROJECT_STRUCTURE.md

# --- IDE & Editor Settings ---
# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# VS Code
.vscode/

# STS / Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# --- Build Directories ---
target/
build/

!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# --- Maven Wrapper ---
.mvn/wrapper/maven-wrapper.jar